@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}


/* add padding on input */

.text-indent {
    text-indent: .5rem;
}


/* add password hide and show icon */

.password__icon {
    position: absolute;
    right: 0;
    padding: 15px 20px;
    cursor: pointer;
}


/* backgroun grey */

.bg-grey-light {
    background: #f0f0f0;
}

.bg-grey-light:focus {
    background: #f0f0f0;
}

.col-md-12{
    margin-bottom: 5%;
}

.description {
    width: 100%;                  /* Make it stretch full width */
    padding: 12px 15px;           /* Add some space inside */
    border-radius: 8px;           /* Rounded corners */
    border: 1px solid #ccc;       /* Light border */
    background-color: #f9f9f9;    /* Slightly grey background */
    font-size: 16px;               /* Bigger text for readability */
    line-height: 1.5;              /* Increased line height for better readability */
    height: 200%;              
    resize: vertical;             /* Allow resizing vertically (like a textarea) */
    box-sizing: border-box;       /* Include padding and border in the width */
}

.description:focus {
    border-color: #007bff;        /* Change border color when focused */
    background-color: #fff;       /* White background on focus */
    outline: none;                /* Remove default outline */
}


@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }

    /* add circle blue background */
    .ball {
        overflow: hidden;
        transition: margin 1s;
        width: 600px;
        height: 600px;
    }

    .ball.login {
        margin-left: 50%;
        margin-top: 5%;
    }

    /* bouncing effect */
    .bounce {
        animation: bounce 2s infinite alternate;
        -webkit-animation: bounce 2s infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-35px);
        }
    }

    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-35px);
        }
    }

    /* login form active */
    .login__form.active {
        opacity: 1;
        margin-left: 10% !important;
    }
}

@media (max-width: 768px) {
    .container .col-12.p-5 {
        padding: 0px !important;
    }

    body {
        overflow-x: hidden;
    }
}

/* login form default */

.login__form {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-left: -100%;
    opacity: 0;
    transition: margin 1s, opacity .5s;
    z-index: 1;
}


/* login form active */

.login__form.active {
    opacity: 1;
    margin-left: 0%;
}