@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

/*.active{
    background-color: #9b7f31 !important;
}*/

/* add padding on input */

.text-indent {
    text-indent: .5rem;
}



    .uppercase-input {
        text-transform: uppercase;
    }

/* backgroun grey */

.bg-grey-light {
    background: #f0f0f0;
}

.bg-grey-light:focus {
    background: #f0f0f0;
}


/* Add this to your stylesheet */
#brand-table th, #brand-table td {
    width: 100%;
}
#product-table th, #product-table td {
    width: 100%;
}


@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }



@media (max-width: 768px) {
    .container .col-12.p-5 {
        padding: 0px !important;
    }

    body {
        overflow-x: hidden;
    }
}
